* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: 'Bellefair', serif;
  height: auto;
  background: rgb(0, 0, 0); /* For browsers that do not support gradients */
  background: linear-gradient(rgb(0, 0, 0), rgb(58, 41, 255)); /* Standard syntax (must be last) */
}

h1 {
  text-align: center;
  color:#ffffff;
  font-size:50px;
  margin-bottom:30px;
}

img {
  height: 426px;
  width: 640px;
}

#container {
  width: 635px;
  margin: 100px auto 0 auto;
  position:relative;
}

.slider {
  height: 332px;
}
.slider img {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
}

#nav {
  list-style-type:none;
  z-index:150;
}
#nav li a {
  display:block;
  width:58px;
  height:102px;
  text-indent:-9999px;
  outline:none;
}

#prev a {
  background:url(../img/prev.png);
  width:58px;
  height:102px;
  position:absolute;
  top:240px;
  left:-70px;
}
#next a {
  background:url(../img/next.png);
  width:58px;
  height:102px;
  position:absolute;
  top:240px;
  right:-110px;
}
#next a:hover {
  background:url(../img/next_hover.png);
}
#prev a:hover {
  background:url(../img/prev_hover.png);
}
